*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.padding {
    padding: 20px;
}

.margin {
    margin: 20px;
}

.red {
    color: white;
    background-color: red;
}

.purple {
    color: aliceblue;
    background-color: purple;
}

.yellow {
    color: aliceblue;
    background-color: yellow;
}

.text-dark {
    color: black;
}